* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.text-primary {
  color: #fd6e0f;
}

.btn-primary {
  color: #ffffff;
  background-color: #fd6e0f;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  padding: 18px 36px;
}

.header {
  background: #fff8f3;
  background-image: url("../Media/header_bg.png"), url("../Media/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* Header and Navigation Style */

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

/* Image Style */

/* .personal-image {
  width: 100px;
  height: 100px;
  background-position: bottom right;
} */

/* Banner Design in Navigation */

.banner {
  margin: 0 200px;
  align-items: center;
  display: flex;
}

.banner.title {
  font-size: 84px;
  font-weight: 700;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}

.banner-description {
  color: #757575;
  margin-bottom: 30px;
}

/* Main section Style */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About Section Style */

.about {
  margin-top: 130px;
  text-align: center;
  padding: 130px 150px;
  background-color: #fff8f3;
  border-radius: 10px;
  font-weight: 700;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}

.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

/* About Info Style */

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about .info-title {
  font-size: 20px;
  color: #757575;
}

.info-description {
  font-weight: 700;
  font-size: 20px;
}
